body{
margin: 0;
background-color: #CAA8F5;
font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    color: #230C33;
    text-align: center;
}

p{
    text-align: justify;
    color: #230C33;
    text-align: center;
}

.container{
display: flex;
justify-content: center;
gap:20px;
margin-top: 60px;

}


.container img{

width: 250px;
height: 180px;
object-fit: cover;
border-radius: 20px;
box-shadow: 0px  4px  8px  ;

}

h1{
    text-align: center;
    margin-top: 80px;
    font-size: 90px;
}

